{% extends "core/base.html" %}

{% load static %}

{% block contenido %}


<div class="ibody">
    <div class="jumbotron">
        <h1>¡Hablemos!</h1>
    </div>
    <div class="fcontacto">
        <form action="POST" name="fcontacto" id="fcontacto" action="./">
            <div class="row">
                <div class="col-md-6">
                    <label>Nombre:</label>
                    <input type="text" name="nombre" id="nombre" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>Email:</label>
                    <input type="text" name="email" id="email" class="form-control">
                </div>
                <label>Mensaje:</label>
                <textarea name="mensaje" id="mensaje" cols="30" rows="10" class="form-control"></textarea>
            </div>
        </form>
    </div>
</div>


{% endblock contenido %}